Brooklyn Data Science statistics test

In [2]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# Q1
heights = [178, 163, 168, 167, 170, 150]

In [4]:
h_df = pd.DataFrame(heights)

In [5]:
h_df.describe()

                0
count    6.000000
mean   166.000000
std      9.273618
min    150.000000
25%    164.000000
50%    167.500000
75%    169.500000
max    178.000000