In [12]:
from BeautifulSoup import BeautifulSoup
from urllib2 import urlopen
import re

In [33]:
from collections import defaultdict
import pandas as pd

# New York

In [13]:
site = 'https://www.airbnb.com/s/New-York--NY'

In [14]:
header = {'User-Agent': 'Mozilla/5.0'}
req = urllib2.Request(site,headers=header)

In [15]:
page = urlopen(req)

In [16]:
soup = BeautifulSoup(page)

In [17]:
#listings = soup.findAll("div", {"class": "col-sm-12 row-space-2 col-md-6"})
listings = soup.findAll("div", {"class": "panel-overlay-top-right wl-social-connection-panel"})

In [50]:
df_data = defaultdict(list)

In [51]:
for listing in listings:
    data = listing.find("span")
    
    # index is listing id (int)
    id = data['data-hosting_id']
    df_data['Id'].append(id)
    
    try:
        # No. of reviews (int)
        review_count_text = data['data-review_count']
        review_count = int(re.search(r"[0-9]+", review_count_text).group(0))
        df_data['Review_Count'].append(review_count)
    except:
        df_data['Review_Count'].append(0)
    
    # star rating (float)
    star_rating = float(data['data-star_rating'])
    df_data['Star_Rating'].append(star_rating)
    
    # room type (categorical)
    room_type = data['data-room_type']
    df_data['Room_Type'].append(room_type)
    
    # property type (categorical)
    property_type = data['data-property_type_name']
    df_data['Property_Type'].append(property_type)
    
    # person capacity (int)
    capacity = int(data['data-person_capacity_string'])
    df_data['Capacity'].append(capacity)
    
    # No. of bedrooms
    bedrooms = int(data['data-bedrooms_string'])
    df_data['Bedrooms'].append(bedrooms)
    
    # Price
    price_text = data['data-price']
    price = int(re.search(r"[0-9]+", price_text).group(0))
    df_data['Price'].append(price)

In [55]:
df = pd.DataFrame(df_data)
df

,Bedrooms,Capacity,Id,Price,Property_Type,Review_Count,Room_Type,Star_Rating
0,1,2,6882689,198,Apartment,17,Entire home/apt,5.0
1,2,7,12022627,2200,Apartment,0,Entire home/apt,0.0
2,1,2,8940740,149,Apartment,6,Entire home/apt,5.0
3,1,4,12035970,55,Apartment,0,Entire home/apt,0.0
4,1,2,11642165,65,Apartment,3,Private room,5.0
5,1,1,648047,61,Apartment,66,Private room,4.5
6,1,2,11303306,105,Apartment,3,Entire home/apt,5.0
7,0,2,9533397,99,Apartment,7,Entire home/apt,5.0
8,1,4,12037554,45,Apartment,3,Entire home/apt,4.5
9,1,2,10513228,50,Apartment,5,Private room,5.0
10,1,3,12027155,120,Apartment,0,Entire home/apt,0.0
11,1,4,10140232,140,Apartment,4,Entire home/apt,5.0
12,1,2,7501292,99,Apartment,6,Entire home/apt,4.5
13,2,6,11507817,110,Apartment,8,Entire home/apt,5.0
14,1,2,10165410,42,Apartment,2,Private room,0.0
15,1,2,12053251,40,Apartment,3,Private room,5.0
16,1,2,12028699,100,Apartment,1,Entire home/apt,0.0
17,1,1,7965847,58,House,6,Private room,4.5

In [61]:
def soupscraper(listings):
    for listing in listings:
        data = listing.find("span")
    
        # index is listing id (int)
        id = data['data-hosting_id']
        df_data['Id'].append(id)
    
        try:
            # No. of reviews (int)
            review_count_text = data['data-review_count']
            review_count = int(re.search(r"[0-9]+", review_count_text).group(0))
            df_data['Review_Count'].append(review_count)
        except:
            df_data['Review_Count'].append(0)
    
        # star rating (float)
        star_rating = float(data['data-star_rating'])
        df_data['Star_Rating'].append(star_rating)
    
        # room type (categorical)
        room_type = data['data-room_type']
        df_data['Room_Type'].append(room_type)
    
        # property type (categorical)
        property_type = data['data-property_type_name']
        df_data['Property_Type'].append(property_type)
    
        # person capacity (int)
        capacity = int(data['data-person_capacity_string'])
        df_data['Capacity'].append(capacity)
    
        # No. of bedrooms
        bedrooms = int(data['data-bedrooms_string'])
        df_data['Bedrooms'].append(bedrooms)
    
        # Price
        price_text = data['data-price']
        price = int(re.search(r"[0-9]+", price_text).group(0))
        df_data['Price'].append(price)
    
    return pd.DataFrame(df_data)

In [60]:
for i in range(2,18):
    site = 'https://www.airbnb.com/s/New-York--NY?page=' + str(i)
    header = {'User-Agent': 'Mozilla/5.0'}
    req = urllib2.Request(site, headers=header)
    page = urlopen(req)
    soup = BeautifulSoup(page)
    
    listings = soup.findAll("div", {"class": "panel-overlay-top-right wl-social-connection-panel"})
    df_data = defaultdict(list)
    
    df_to_append = soupscraper(listings)
    df = df.append(df_to_append)

In [62]:
df.describe()

         Bedrooms    Capacity        Price  Review_Count  Star_Rating
count  306.000000  306.000000   306.000000    306.000000   306.000000
mean     0.869281    2.218954   104.428105     14.601307     3.485294
std      0.460830    1.056332   129.893511     24.689904     2.142607
min      0.000000    1.000000    20.000000      0.000000     0.000000
25%      1.000000    2.000000    61.250000      2.000000     0.000000
50%      1.000000    2.000000    90.000000      5.000000     4.500000
75%      1.000000    2.000000   119.000000     15.000000     5.000000
max      3.000000    8.000000  2200.000000    180.000000     5.000000

In [63]:
df.tail()

,Bedrooms,Capacity,Id,Price,Property_Type,Review_Count,Room_Type,Star_Rating
13,0,2,11363556,140,Apartment,1,Entire home/apt,0.0
14,1,2,2371377,96,Apartment,6,Entire home/apt,4.5
15,1,2,4257354,105,Apartment,100,Private room,4.5
16,0,4,2159898,185,Apartment,88,Entire home/apt,5.0
17,1,1,8782030,65,Apartment,0,Private room,0.0

In [64]:
df.Room_Type.unique()

array([u'Entire home/apt', u'Private room', u'Shared room'], dtype=object)

In [65]:
df.Property_Type.unique()

array([u'Apartment', u'House', u'Condominium', u'Loft', u'Townhouse',
       u'Other', u'Bed & Breakfast'], dtype=object)